body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 48px;
}

#display {
    text-align: center;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.glow {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

.red-glow {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 20px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.popup h2 {
    font-size: 2rem;
}
.popup h3 {
    font-size: 1rem;
}
.popup p {
    font-size: 1rem;
}

.popup button {
    margin: auto;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.popup button:hover {
    background-color: red;
}